
.textStyle {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.3em;
  color: #747475;
}
.textLeft{
  text-align: left;
}
.textRight{
  text-align: right;
}
.callout {
  color: #01aa83;
  font-weight: bold;
}
.container {
  display: flex;
  width: 800px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 76px;
  -webkit-animation: fadein 1s;
  -moz-animation: fadein 1s;
  -ms-animation: fadein 1s;
  -o-animation: fadein 1s;
  animation: fadein 1s;
}
.textBox {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: -5px;
  align-content: center;
  width: 600px;
  height: 200px;
}
.graph {
  width: 200px;
  height: 200px;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50%;
  margin-top: 20%;
}
.pc1 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.pc1 svg:before {
  content: #d2e0e0;
  display: block;
}
.pc1 svg {
  width: 150px;
  height: 150px;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.pc1 svg .percent-circle-inner {
  fill:transparent;
  stroke: #01aa83;
  stroke-width: 25px;
  stroke-dasharray: 0 628.318px;
  transition: stroke-dasharray 1s ease-out 0.2s;
}
.pc1:after {
  content: attr(data-percent) "%";
  display: block;
  width: 120px;
  height: 120px;
  background:transparent;
  position: absolute;
  top: 20px;
  left: 20px;
  border-radius: 50%;
  color: #01aa83;
  text-align: center;
  line-height: 110px;
  font-size: 20px;
}
.hidden {
  display: none;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}