html{
  scroll-behavior: smooth;
}
body{
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
  width: 90%;
  margin: auto;
}
#introduction{
  height: 650px;
  background-color: #000000;
  padding-bottom: 100px;
}

/*NAVBAR*/

/* change the background color */
.navbar-custom {
  background-color: #ffffff;
}

/* change the link color and add padding for height */
.navbar-custom .navbar-nav .nav-link {
  color: #fff;
  /*padding: 1rem 1rem;*/
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: #000;
  /*background-color: #ee4400; /* add background-color to active links */
}.navbar-custom {
  background-color: #000;
  opacity: 1;
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
  color:#fff;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: gray;
}

/* for dropdown only - change the color of droodown */
.navbar-custom .dropdown-menu {
  background-color: #000;
  opacity: 0.8;
}
.navbar-custom .dropdown-item {
  color: #ffffff;
}
.navbar-custom .dropdown-item:hover,
.navbar-custom .dropdown-item:focus {
  color: #000;
  /*background-color: rgba(255,255,255,.5);*/
  background-color: #000;
}
/*TOGGER ICON*/
.navbar-toggler{
  width: 47px;
  height: 34px;
  background-color:transparent;
  border:none;
}
.navbar-toggler .line{
  width: 100%;
  float: left;
  height: 2px;
  background-color: #fff;
  margin-bottom: 5px;
}

/*header*/
 #introduction .heading{
  padding: 15% 20% 5% 20%;
}
 .header_1{
  font-size: 50px;
  font-style: normal;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff;
  text-align: center;

  /*padding: 0 5% 0 5%;*/
}
.description{
  padding: 0 2% 5% 2%;
  margin-left: 0;
  margin-top: 0;
}
.paragraph{
  color: #ffffff;
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: 0.04em;
  line-height: 1.5em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.paragraph1{
  color: grey;
  font-size: 18px;
  font-weight:100;
  letter-spacing: 0.02em;
  font-style: normal;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5em;
  margin: 5% 0 5% 0;
}
/*social media
.social_media{

}*/
.social_media ul{
  list-style: none;
  margin-left: 35%;
}
.social_media ul li{
  margin:auto;
  float: left;
}
.social_media ul li a{
  float: left;
}
.social_media .logo_fb{
  background: url(../images/fb1.png);
  width: 30px;
  height: 30px;
  margin-left: 0;
  margin-right: 15px;
}
.social_media .logo_fb:hover{
  background-image: url(../images/fb2.png);
  width: 30px;
  height: 30px;
  margin-left: 0;
  margin-right: 15px;
}
.social_media .logo_github{
  background-image: url(../images/github3.png);
  width: 30px;
  height: 30px;
  margin-left: 10px;
  margin-right: 15px;
}
.social_media .logo_github:hover{
  background-image: url(../images/github4.png);
  width: 30px;
  height: 30px;
  margin-left: 10px;
  margin-right: 15px;
}
.social_media .logo_linkedin{
  background-image: url(../images/linkedin1.png);
  width: 30px;
  height: 30px;
  margin-left: 10px;
  margin-right: 15px;
}
.social_media .logo_linkedin:hover{
  background-image: url(../images/linkedin2.png);
  width: 30px;
  height: 30px;
  margin-left: 10px;
  margin-right: 15px;
}
.social_media .logo_instagram{
  background-image: url(../images/insta1.png);
  width: 30px;
  height: 30px;
  margin-left: 10px;
  margin-right: 15px;
}
.social_media .logo_instagram:hover{
  background-image: url(../images/insta2.png);
  width: 30px;
  height: 30px;
  margin-left: 10px;
  margin-right: 15px;
}
.social_media .logo_twitter{
  background-image: url(../images/twitter1.png);
  width: 30px;
  height: 30px;
  margin-left: 10px;
  margin-right: 15px;
}
.social_media .logo_twitter:hover{
  background-image: url(../images/twitter2.png);
  width: 30px;
  height: 30px;
  margin-left: 10px;
  margin-right: 15px;
}
/*end social media*/
/*button for resume*/
.button_1{
  background-color: lime;
  color: #ffffff;
  font-size: 20px;
  border-style: inset;
  border-color: lime;
  padding: 15px 90px 15px 90px;
  border-radius: 50px;
  border-width: 0.1em;
  margin-left: 33%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.button_2{
  background-color: lime;
  color: #ffffff;
  font-size: 20px;
  border-style: inset;
  padding: 15px 90px 15px 90px;
  border-radius: 50px;
  border-color: lime;
  margin: auto;
  float: right;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.button_1:hover{
  background-color: transparent;
  color: lime;
  border-color: lime;
  border-radius: 50px;
  padding: 15px 90px 15px 90px;
  border-style: inset;
  margin-bottom: 0;
}
.button_2:hover{
  background-color: transparent;
  color: lime;
  border-color: lime;
  border-radius: 50px;
  padding: 15px 90px 15px 90px;
  border-style: inset;
}
/*about info*/
#about{
  height: 600px;
}
/*skills*/
#skills{
  height: 100%;

}
.header_2{
  color: #000000;
  text-align: center;
  font-size: 45px;
  font-style: normal;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 5%;
}
.header_3{
  color: #000000;
  text-align: center;
  font-size: 45px;
  font-style: normal;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: auto;
}
.strong{
  font-weight: 100;
  color: grey;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*description boxes*/
.col-md{
  width: 40%;
  background-color: blue;
  margin-left: 5%;
  display: inline-block;
}
.info_box{
  width: 50%;
  height: 50%;
  line-height: 1.8em;
  float: left;
  padding: 15px;
  padding-bottom: 15%;
  box-sizing: border-box;
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: lighter;
  color: grey;
}
.info_box1{
  width: 50%;
  height: 50%;
  line-height: 1.8em;
  float: left;
  box-sizing: border-box;
  font-size: 16px;
  font-style: normal;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.info_box1 img{
  width: 80%;
  height: 469px;
  border-radius: 5px;
}
/*.image1{
  width: 50%;
  height: 469px;
  float: left;
  padding: 15px;
  padding-bottom: 15%;
  box-sizing: border-box;
  background: url(../images/me.jpg);
}*/
/**skills*/
.logos ul{
  list-style: none;
  margin-top: 20%;
  width: 100%;
  /*background-color: lightcoral;*/
}
.logos ul li{
  display: inline-block;
  padding: 0 10% 10% 0;
  /*background-color: lightseagreen;*/
  margin: 3%;
}
.skill_items li{
  float: left;
  width: 25%;
  height: 50px;
  list-style-type:circle;
  /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  */font-weight: 500;
}
.skill_icons1{
  background: url(../images/java1.png) no-repeat;
  margin: 0;
}
.skill_icons1:hover{
  width: 60px;
  height: 60px;
  background: url(../images/java2.png) no-repeat;
}
.skill_icons2{
  width: 60px;
  height: 60px;
  background: url(../images/python2.png) no-repeat;
}
.skill_icons2:hover{
  width: 60px;
  height: 60px;
  background: url(../images/python1.png) no-repeat;
}
.skill_icons3{
  width: 60px;
  height: 60px;
  margin-top: 0;
  background: url(../images/node1.png) no-repeat;
}
.skill_icons3:hover{
  width: 60px;
  height: 60px;
  background: url(../images/node2.png) no-repeat;
}
.skill_icons4{
  width: 60px;
  height: 60px;
  background: url(../images/php1.png) no-repeat;
}
.skill_icons4:hover{
  width: 60px;
  height: 60px;
  background: url(../images/php2.png) no-repeat;
}
.skill_icons5{
  width: 60px;
  height: 60px;
  background: url(../images/html1.png) no-repeat;
}
.skill_icons5:hover{
  width: 60px;
  height: 60px;
  background: url(../images/html2.png) no-repeat;
}
.skill_icons6{
  width: 60px;
  height: 60px;
  background: url(../images/css3.png) no-repeat;
}
.skill_icons6:hover{
  width: 60px;
  height: 60px;
  background: url(../images/css4.png) no-repeat;
}

/*education*/
.sub_heading1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
  color: grey;
  text-align: center;
}
.sub_heading2{
  font: bold 20px Arial, Helvetica,sans-serif;
  margin-top: 1%;
  text-align: center;
}
.sub_heading3{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: lime;
  letter-spacing: 0.1rem;
  margin-top: 3%;
  margin-bottom: 5%;
  border-bottom: 1px solid grey;
  padding-bottom: 1.5%;
  text-align: center;
}
.time_header_left{
  text-align: right;
}
.time_des_left{
  text-align: right;
  color: grey;
  letter-spacing: 0.03em;
}
.time_header_right{
  text-align: left;
}
.time_des_right{
  text-align:left;
  color: grey;
  letter-spacing: 0.03em;
}
#service{
  height: 100%;
  background: lime;
  margin-bottom: 10%;
}
.service_blocks{
  float: left;
  width: 33.3%;
  padding: 5% 5% 5% 5%;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.03em;
  color: #000;
}
.service_name{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: 600;
}
.service_icon_web{
  background: url(../images/laptop.png);
  width: 50px;
  height: 50px;
  margin: auto;
}
.service_icon_mobile{
  background: url(../images/mobile.png);
  width: 50px;
  height: 50px;
  margin: auto;
}
.service_icon_java{
  background: url(../images/java.png);
  width: 50px;
  height: 50px;
  margin: auto;
}
.service_icon_camera{
  background: url(../images/camera.png);
  width: 50px;
  height: 50px;
  margin: auto;
}
.service_icon_illustrator{
  background: url(../images/ai.png);
  width: 50px;
  height: 50px;
  margin: auto;
}
.service_icon_web{
  background: url(../images/laptop.png);
  width: 50px;
  height: 50px;
  margin: auto;
}
.interests{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  letter-spacing: 0.01em;
  color: grey;
}
.contact{
  height: 620px;
  background: #000;
  margin-bottom: 0;
  margin-top: 5%;
}
#left_col{
  float: left;
}
#right_col{
  float: right;
}
.footer_head{
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
  font-weight: normal;
  padding-left:20%;
  padding-top: 30%;
  padding-bottom: 3%;
}
.contact_list li{
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight:100;
  list-style: none;
  padding-left: 3%;
  line-height: 2.0rem;
}
.my_form{
  padding: 10%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.my_form .form_group{
  padding-bottom: 25px;
}
.my_form label{
  display:block;
  padding-bottom: 2%;
}
.my_form input[type="text"], .my_form textarea{
  padding: 2%;
  width: 100%;
  border-radius: 3px;
  border-style: none;
  font-size: 15px;
}
.form_group{
  color: #fff;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.copyright{
  color: grey;
  background: #000;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  height: 50px;
  padding-top: 5%;
  padding-bottom: 5%;
}

/*media queries*/
@media (max-width: 1500px) {
  #service{
    height: 1050px;
  }
  .logos ul{
    list-style: none;
    margin-top: 20%;
    margin-left: 0;
    width: 100%;
  }
  .logos ul li{
    display: inline-block;
    padding: 10% 10% 0 0;
  }
}
@media(max-width: 1280px){
  #contact_banner{
    height: 750px;
  }
  .copyright{
    height: 200px;
  }
  .logos ul{
    list-style: none;
    margin-top: 20%;
    margin-left: 0;
    width: 100%;
  }
  .logos ul li{
    display: inline-block;
    padding: 10% 12% 5% 0;
  }
}
@media (max-width: 1100px) {
  #service{
    height: 1100px;
  }
  .button_1{
    margin-left: 30%;
  }
  .logos ul{
    list-style: none;
    margin-top: 20%;
    margin-left: 0;
    width: 100%;
  }
  .logos ul li{
    display: inline-block;
    padding: 10% 18% 8% 0;
  }
}
@media (max-width: 1050px) {
  #service{
    height: 1150px;
  }
  .button_1{
    margin-left: 30%;
  }
}
@media(max-width: 1024px){
  #contact_banner{
    height: 1250px;
  }
  .copyright{
    height: 200px;
  }
}
@media (max-width: 1000px) {
  #service{
    height: 1300px;
  }
  .contact{
    height: 1050px;
  }
  .button_1{
    margin-left: 30%;
  }
}
@media (max-width: 900px) {
  #service{
    height: 2000px;
  }
  .button_1{
    margin-left: 25%;
  }
  .service_blocks{
    width: 100%;
  }
  .social_media ul{
    margin-left: auto;
    width: 75%;
  }
  .social_media ul li{
    padding: 4% 3% 4% 0;
  }
}
@media (max-width: 800px) {
  #service{
    height: 2000px;
  }
  .button_1{
    margin-left: 20%;
  }
  .header_2{
    margin-top: 180px;
  }
  .logos ul{
    list-style: none;
    margin-top: 20%;
    width: 100%;
    margin-left: 0;
    padding: 0;
  }
  .logos ul li{
    display: inline-block;
    padding: 10% 20% 10% 0;
    margin-left: 8%;
    margin-left: 8%;
  }
  .service_blocks{
    width: 100%;
  }
  .social_media{
    width: 100%;
    float: left;
  }
  .social_media ul{
    list-style: none;
    margin-left: 20%;
  }
}
@media(max-width: 768px){
  #contact_banner{
    height: 1000px;
  }
  .copyright{
    height: 650px;
    padding-top: 150px;;
  }
}
@media(max-width: 700px) {
  #service{
    height: 2000px;
  }
 .button{
    width: 100px;
  }
  .info_box{
    width: 100%;
    float: none;
    margin-bottom: 10%;
  }
  .info_box1{
    width: 100%;
    float: none;
    margin-bottom: 5%;
  }
  .info_box1 img{
    width: 100%;
    height: 469px;
  }
  .header_3{
    margin-top: 50%;
  }
  .button_1{
    width: 100%;
    margin-left: 0;
    text-align: center;
  }
  .button_2{
    width: 100%;
  }
  .logos ul{
    list-style: none;
    margin-top: 20%;
    margin-left: 0;
    width: 100%;
  }
  .logos ul li{
    display: inline-block;
    padding: 10% 20% 10% 0;
  }
  #skills{
    margin-top:400px;
  }
  .service_blocks{
    width: 100%;
  }
  .social_media{
    margin-left: 0;
  }
}
@media (max-width: 650px) {
  #service{
    height: 2000px;
  }
  .header_3{
    margin-top: 50%;
  }
  .skill_items li{
    width: 50%;
  }
  .button_1{
    width: 100%;
  }
  .button_2{
    width: 100%;
  }
  .logos ul{
    list-style: none;
    margin-top: 20%;
    width: 100%;
  }
  .logos ul li{
    display: inline-block;
    padding: 10% 20% 10% 0;
  }
  .service_blocks{
    width: 100%;
  }
  .social_media ul{
    margin-left: 20%;
    padding: 2% 0 2% 0;
  }
}
@media (max-width: 640px) {
  #service{
    height: 2100px;
  }
  .header_3{
    margin-top: 65%;
  }
  .button_1{
    width: 100%;
  }
  .button_2{
    width: 100%;
  }
  .logos ul{
    list-style: none;
    margin-top: 20%;
    width: 100%;
  }
  .logos ul li{
    display: inline-block;
    padding: 10% 20% 15% 0;
  }
  .service_blocks{
    width: 100%;
  }
  .time_header_left{
    text-align: left;
  }
  .time_des_left{
    text-align: left;
    color: grey;
    letter-spacing: 0.03em;
  }
  .time_header_right{
    text-align: left;
  }
  .time_des_right{
    text-align:left;
    color: grey;
    letter-spacing: 0.03em;
  }
}
@media (max-width: 550px) {
  #service{
    height: 2000px;
  }
  .header_3{
    margin-top: 70%;
  }
  .button_1{
    width: 100%;
  }
  .button_2{
    width: 100%;
  }
  .service_blocks{
    width: 100%;
  }
  .logos ul{
    list-style: none;
    margin-top: 20%;
    width: 100%;
  }
  .logos ul li{
    display: inline-block;
    padding: 10% 10% 15% 11%;
  }
  .time_header_left{
    text-align: left;
  }
  .time_des_left{
    text-align: left;
    color: grey;
    letter-spacing: 0.03em;
  }
  .time_header_right{
    text-align: left;
  }
  .time_des_right{
    text-align:left;
    color: grey;
    letter-spacing: 0.03em;
  }
}
@media (max-width: 540px) {
  #service{
    height: 2200px;
  }
  .header_3{
    margin-top: 70%;
  }
  .button_1{
    width: 100%;
  }
  .button_2{
    width: 100%;
  }
  .service_blocks{
    width: 100%;
  }
  .logos ul{
    list-style: none;
    margin-top: 20%;
    width: 100%;
  }
  .logos ul li{
    display: inline-block;
  }
}
@media (max-width: 530px) {
  .header_3{
    margin-top: 100%;
  }
  .button_1{
    width: 100%;
  }
  .button_2{
    width: 100%;
  }
  .service_blocks{
    width: 100%;
  }
}
@media (max-width: 520px) {
  #introduction{
    height: 700px;
  }
  .header_3{
    margin-top: 100%;
  }
  .button_1{
    width: 100%;
  }
  .button_2{
    width: 100%;
  }
  .service_blocks{
    width: 100%;
  }
  /*.logos ul{
    padding: 0;
    width: 100%;
  }
  .logos ul li{
    padding: 15% 16% 10% 10%;
    margin-left: 6%;
  }*/
  .logos ul{
    list-style: none;
    margin-top: 20%;
    margin-left: 0;
    width: 100%;
  }
  .logos ul li{
    display: inline-block;
    padding: 10% 25% 15% 0;
    margin-left: 4%;
  }
  .social_media ul{
    padding: 0;
  }
}
@media (max-width: 450px) {
  #service{
    height: 2100px;
  }
  #introduction{
    height: auto;
  }
  .header_2{
    margin-top: 250px;
  }
  .header_3{
    margin-top: 500px;
  }
  .button_1{
    width: 100%;
  }
  .button_2{
    width: 100%;
  }
  .service_blocks{
    width: 100%;
  }
  .logos ul{
    padding: 0;
    width: 100%;
  }
  .logos ul li{
    padding: 15% 18% 15% 10%;
    margin-left: 12%;
  }
  #contact_banner{
    height: 1000px;
  }
  .copyright{
    height: 200px;
  }
}
@media(max-width: 411px){
  #contact_banner{
    height: 1000px;
  }
  .copyright{
    height: 300px;
  }
}
@media (max-width: 400px) {
  #service{
    height: 2300px;
    margin-top: 200px;
    margin-bottom: 0;
  }
  #introduction{
    height: 850px;
  }
  #skills{
    margin-top: 600px;
  }
  #interest{
    margin-top: 0;
    padding-top: 0%;
  }
  #introduction .heading{
    padding-left: 13%;
  }
  .description{
    margin-bottom: 10%;
  }
  /*.header_2{
    margin-top: 100px;
  }
  .header_3{
    margin-top: 200px;
  }*/
  .button_1{
    width: 100%;
  }
  .button_2{
    width: 100%;
  }
  .service_blocks{
    width: 100%;
  }
  .social_media ul{
    width: 75%;
    float: left;
    margin-left: 20%;
    padding-left: 4%;
  }
  .social_media ul li{
    list-style: none;
    padding: 5% 0 2% 0;
    background: transparent;
  }
  .logos ul{
    padding: 0;
    width: 100%;
  }
  .logos ul li{
    padding: 20% 16% 10% 15%;
    margin-left: 12%;
  }
  #contact_banner{
    height: 1000px;
  }
  .copyright{
    height: 200px;
  }
}
  @media (max-width: 414px) {
    #introduction{
      height: 850px;
    }
    #service{
      height: 2250px;
    }
    #services{
      margin-top: 10px;
    }
    /*#interest{
      margin-top: 10px;
    }*/
    .social_media ul{
      list-style: none;
      margin-left: 16%;
      padding: 0;
    }
    #skills{
      margin-top: 600px;
    }
    #education{
      margin-top: 100px;
    }
    #contact_banner{
      margin-top: 100px;
    }
    .interest{
      margin-top: 100px;
    }
    .button_1{
      align-content: center;
    }
  }
  @media (max-width: 375px) {
    #service{
      height: 2400px;
    }
    #introduction{
        height: 850px;
    }
    .header_2{
      margin-top: 100px;
    }
    .header_3{
      margin-top: 400px;
    }
    .button_1{
      width: 100%;
      padding: 15px 90px 15px 80px;
    }
    .button_1:hover{
      width: 100%;
      padding: 15px 90px 15px 80px;
    }
    .button_2{
      width: 100%;
    }
    .service_blocks{
      width: 100%;
    }
    .logos ul{
      padding: 0;
      width: 100%;
    }
    .logos ul li{
      padding: 22% 18% 11% 15%;
      margin-left: 11%;
    }
    .social_media ul{
      list-style: none;
      width: 90%;
      margin-left: auto;
      background: transparent;
      padding-left: 10%;
    }
    .social_media ul li{
      padding: 2% 0 2% 0;
    }
    #contact_banner{
      height: 1000px;
    }
    .copyright{
      height: 300px;
    }
  }
@media (max-width: 360px) {
  #service{
    height: 2400px;
  }
  #introduction{
    height: 850px;
  }
  .header_2{
    margin-top: 100px;
  }
  .header_3{
    margin-top: 580px;
  }
  .button_1{
    width: 100%;
    padding: 15px 50px 15px 50px;
  }
  .button_1:hover{
    width: 100%;
    padding: 15px 50px 15px 50px;
  }
  .button_2{
    width: 100%;
  }
  .service_blocks{
    width: 100%;
  }
  .social_media{
    width: 100%;
    float: left;
  }
  .social_media ul{
    list-style: none;
    margin-left: 0;
    width: 95%;
    padding-left: 10%;
  }
  .social_media ul li{
    margin: 2% 0 2% 0;
  }
  .logos ul{
    padding: 0;
    width: 100%;
  }
  .logos ul li{
    padding: 22% 18% 12% 15%;
    margin-left: 11%;
  }
}
  @media (max-width: 320px) {
    #service{
      height: 2630px;
    }
    #introduction{
      height: 900px;
    }
    #interest{
      margin-top: 300px;
    }
    .header_2{
      margin-top: 80px;
    }
    .header_3{
      margin-top: 700px;
    }
    .button_1{
      width: 100%;
      padding: 15px 50px 15px 50px;
    }
    .button_1:hover{
      width: 100%;
      padding: 15px 50px 15px 50px;
    }
    .button_2{
      width: 100%;
    }
    .sub_heading1{
      padding-top: 3%;
    }
    .service_blocks{
      width: 100%;
    }
    .logos ul{
      padding: 0;
      width: 100%;
    }
    .logos ul li{
      padding: 25% 18% 14% 20%;
      margin-left: 6%;
    }
    .social_media ul li{
      padding: 5% 0 5% 0;
    }
    .social_media ul{
      list-style: none;
      padding-left: 6%;
      margin:auto;
      width: 100%;
    }
    #interests ul li{
      margin-left: 0;
    }
}
